// app/assets/stylesheets/span/blocks/_add_paddings.scss

.aap {padding: 0;}
.aapQ {padding: 4px 8px;}
.aapH {padding: 8px 16px;}
.aapF {padding: 16px;}
.aapD {padding: 32px;}

.atp {padding-top: 0;}
.atpQ {padding-top: 4px;}
.atpH {padding-top: 8px;}
.atpF {padding-top: 16px;}
.atpD {padding-top: 32px;}

.arp {padding-right: 0;}
.arpQ {padding-right: 4px;}
.arpH {padding-right: 8px;}
.arpF {padding-right: 16px;}
.arpD {padding-right: 32px;}

.abp {padding-bottom: 0;}
.abpQ {padding-bottom: 4px;}
.abpH {padding-bottom: 8px;}
.abpF {padding-bottom: 16px;}
.abpD {padding-bottom: 32px;}

.alp {padding-left: 0;}
.alpQ {padding-left: 4px;}
.alpH {padding-left: 8px;}
.alpF {padding-left: 16px;}
.alpD {padding-left: 32px;}
