// app/assets/stylesheets/span/blocks/_clear_paddings.scss

.cap {padding: 0;}
.capQ {padding: 4px 8px;}
.capH {padding: 8px 16px;}

.ctp {padding-top: 0;}
.ctpQ {padding-top: 4px;}
.ctpH {padding-top: 8px;}

.crp {padding-right: 0;}
.crpQ {padding-right: 4px;}
.crpH {padding-right: 8px;}

.cbp {padding-bottom: 0;}
.cbpQ {padding-bottom: 4px;}
.cbpH {padding-bottom: 8px;}

.clp {padding-left: 0;}
.clpQ {padding-left: 4px;}
.clpH {padding-left: 8px;}
