-# app/views/span/biographies/edit.html.haml

= render partial: "header"
= render partial: "blocks/span/errors", locals: { object: @biography }
= render partial: "seo_form", locals: { object: @biography }
