// app/assets/stylesheets/span/mixins/_clearfix.scss

@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

.clearfix {
  @include clearfix;
}
