-# app/views/span/design/card.html.haml

%h2 The Card

.card.small
  .cardBox

    -# Start Item
    .cardItem
      .top
        %h6.active Active
        = link_to "Aenean #1", "#"
      .middle
        = link_to "Aenean Vulputate Lorem Magna Nullam", "#"
