-# app/views/span/timelines/_breadcrumbs.html.haml

.breadcrumbs
  .breadcrumbsBox
    .breadcrumbsList
      - if params[:action] == "index" || params[:action] == "unpublished" || params[:action] == "all"
        = link_to "Dashboard", span.root_path
      - elsif params[:action] == "preview" || params[:action] == "seo_settings" || params[:action] == "update_seo_settings"
        = link_to "Go Back", span.edit_timeline_path(@timeline)
      - else
        = link_to "Go Back", span.timelines_path
