-# app/views/span/timelines/_cards.html.haml

.card.large
  %ul#ajaxBox.cardBox.sortable{ "data-update-url" => sortable_timelines_path }
    - if @timelines.blank?
      = render partial: "blocks/span/empty"
    - else
      = render partial: "timeline", collection: @timelines, as: :object
