-# app/views/span/timelines/_group.html.haml

.group
  .groupBox
    .groupList
      = link_to "Published", timelines_path, remote: true
    .groupList
      = link_to "Unpublished", unpublished_timelines_path, remote: true
    .groupList
      = link_to "All", all_timelines_path, remote: true
