-# app/views/span/timelines/_page_header.html.haml

.pageHeader
  .pageHeaderBox
    .pageHeaderItem
      .pageHeaderTitle
        - if params[:action] == "index"
          %h1#ajaxTitle Published Timelines
        - elsif params[:action] == "unpublished"
          %h1#ajaxTitle Unpublished Timelines
        - elsif params[:action] == "all"
          %h1#ajaxTitle All Timelines
        - elsif params[:action] == "new" || params[:action] == "create"
          %h1 Add New Timeline
        - elsif params[:action] == "edit" || params[:action] == "update"
          %h1 Edit Timeline
        - elsif params[:action] == "seo_settings" || params[:action] == "update_seo_settings"
          %h1= "SEO Settings for: " + @timeline.title
        - elsif params[:action] == "preview"
          %h1= "Preview for: " + @timeline.title
        - else
          %h1 Timeline
