-# app/views/span/timelines/edit.html.haml

= render partial: "header"
= render partial: "blocks/span/errors", locals: { object: @timeline }
= render partial: "seo_form", locals: { object: @timeline }
